<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqLraROSt6hZeuYSxBjwyvffNxO0VsCik</string>
	<key>GCM_SENDER_ID</key>
	<string>1062357614962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rennes.bpm</string>
	<key>PROJECT_ID</key>
	<string>bpm-prod-df16a</string>
	<key>STORAGE_BUCKET</key>
	<string>bpm-prod-df16a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062357614962:ios:aa77974268cb11e5e71deb</string>
</dict>
</plist>